/* ----------------------General html and body tags------------------ */
html,body{
    background-color: grey;
    display:flex;
    justify-content: center;
    margin:0px;
    width:100%;
}

.Todo-card{
    width:50%;
    background-image: url('../Images/background.jpg');
    background-repeat: none;
    background-size: cover;
    margin-bottom:50px;
}

/* ----------------------------Creating task list form styling------------------------ */

form{
    margin-bottom:50px;
    color:white;
}

.heading{
    font-size:50px;
    font-weight:bold;
    text-align: center;
    font-family: monospace;
    color:darkolivegreen;
}

textarea{
    border:0;
    font-size:25px;
    width:98%;
    resize:none;
    background-color: transparent;
}

textarea::placeholder{
    color:antiquewhite;
}

input[type=date],select{
    color:white;
}

textarea{
    color:white;
}

select option{
    background-color:burlywood;
    color:black;
    font-weight:500;
}

textarea:focus,select:focus,input:focus{
    outline:0;
}

input:hover{
    -webkit-appearance: none;
    -moz-appearance: none;
}

.description{
    padding-left:10px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.description-2{
    display:flex;
    padding-left:10px;
    border-bottom:1px solid black;
}

.category,.due-date{
    width:50%;
    padding-bottom:10px;
    border-right: 1px solid black;
}

select,.date{
   width:99.5%;
   font-size:20px;
   font-family: monospace;
   font-weight: 500;
   border:none;
   -webkit-appearance: none;
  -moz-appearance: none;
   background-color: transparent;
}

select{
    background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right;
}

select:focus > option:checked{ 
    background:purple !important;
    color:white;
}

input[type="date"]::-webkit-inner-spin-button{
    display:none;
    -webkit-appearance: none;
}

h3{
    font-weight:600;
    font-family: monospace;
    color: aliceblue;
}

.buttons{
    display:flex;
    justify-content: center;
}

button{
    margin-top:30px;
    margin-right:30px;
    width:150px;
    cursor:pointer;
}

button h3{
    color:white;
}

.add-button{
    background-color:black;
    border:none;
    box-shadow: 0px 0px 4px 3px black;
}

.add-button:hover,.delete-button:hover{
    box-shadow: none;
}

/* --------------------The task list form styling---------------------------- */

.delete-button{
    background-color:red;
    border:none;
    box-shadow: 0px 0px 4px 3px red;
}

.tasks{
    margin-left:20px;
    margin-right:20px;
    margin-bottom:5px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:10px;
    display:flex;
    align-items: center;
}


.name-date{
    margin-left:20px;
    color:bisque;
    font-family:monospace;
    font-size:15px;
}

.fa-check{
    font-size: 18px;
    margin-left:-5px;
    color:white;
    display:none;
}

.tasks div:nth-child(1) {
    flex: 1;
}

.date-icon{
    margin-top:-10px;
}

.category-task{
    text-align: center;
    width:15%;
    color:white;
    background-color: red;
    padding:8px;
    font-size:1.3rem;
    border-radius:5px;
}

#other{
    background-color: darkmagenta;
}

#personal{
    width:20%;
    background-color:darkslateblue;
    padding:10px;
    font-size:1.2rem;
}

#college{
    width:20%;
    background-color: darkcyan;
    padding:8px;
}

/* ------------------Styling the checkbox and ticks----------------------- */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}


[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid black;
  background: #fff;
  border-radius: 4px;
  background-color:white;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  font-weight:bold;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}